body{
    background-color: #323232;
}

.caixa{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#conteudo{
    position: absolute;
}

#titulo{
    background-color: #006666;
    display: inline-block;
    margin: 40px auto;
    font-size: 45px;
    padding: 20px 15px;
    border-radius: 45px;
    border: 5px solid #008584;
    color: #FFFFFF;
}

#tituloav{
    background-color: #006666;
    margin: 20px auto;
    font-size: 35px;
    border-radius: 45px;
    border: 5px solid #008584;
    color: #FFFFFF;
}

#formav{
  background-color: #006666;
  display: inline-block;
  margin: 0 auto;
  font-size: 25px;
  padding: 20px 15px;
  border-radius: 45px;
  border: 5px solid #008584;
  color: #ffffff;
  left: 500px;
  position: relative;
}

#informacoes{
    background-color: #006666;
    border: 5px solid #008584;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 45px;
    position: relative;
    left: 100px;
}

.itemLista{
    color: #F5F5F5;
    margin: 10px auto;
    font-size: 20px;
    background-color: #008584;
    padding: 15px 20px;
    border-radius: 45px;
    border: 5px solid #F5F5F5;
}

#avaliacao{
	right: -700px;
	top: 50px;
}

#inseremail{
	right: -700px;
	bottom: 220px;
}

#altemail{
	right: -700px;
	bottom: 320px;
}

#altnomsenha{
	right: -700px;
	bottom: 120px;
}

#sairsist{
	right: -700px;
	bottom: 25px;
}

#logout{
	right: -700px;
    bottom: -70px;
}

.btao{
    border-radius: 45px;
    color: #F5F5F5;
    width: 400px;
    position: absolute;
    background-color: #008584;
    border: 5px solid #F5F5F5;
    padding: 20px 15px;
    text-align: center;
    font-size: 35px;
}

.btao:hover{
    color: #008584;
    border-color: #008584;
    background-color: #F5F5F5;
}

#btaoSenha{
    margin: 15px auto;
    font-size: 20px;
    display: inline-block;
}

.titulo2{
    background-color: #006666;
    display: inline;
    margin: 20px auto;
    font-size: 20px;
    padding: 20px 15px;
    border-radius: 45px;
    border: 5px solid #008584;
    color: #F5F5F5;
    height: 25px;
}

.label1{
    color: #F5F5F5;
    font-size: 20px;
    margin: auto 0;
}

.input{
    margin-right: auto auto;
    background-color: #006666;
    display: block;
    font-size: 20px;
    border-radius: 45px;
    border: 5px solid #008584;
    color: #F5F5F5;
}

.btao2{
    border-radius: 45px;
    color: #F5F5F5;
    width: 300px;
    position: absolute;
    background-color: #008584;
    border: 5px solid #F5F5F5;
    padding: 10px 5px;
    text-align: center;
    font-size: 25px;
}

.btao2:hover{
    color: #008584;
    border-color: #008584;
    background-color: #F5F5F5;
}

.label2{
    color: #F5F5F5;
    font-size: 20px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.input2{
    margin-right: auto auto;
    background-color: #006666;
    display: block;
    font-size: 20px;
    border-radius: 45px;
    border: 5px solid #008584;
    color: #F5F5F5;
    margin: 0 auto;
}
